/* styles for my website */

* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    overflow: hidden;
    padding:10px 0 0 0;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#inner-header,
#inner-footer {
    margin:0px auto;
    max-width:1200px;
}

#inner-header {
    display: flex;
    flex-flow: row;
    padding:0px 20px 0px 20px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius: 8px;
    border-bottom:5px solid #849BDA ;
}

#welcome {
    text-align: center;
    text-justify: auto;
}


nav {
    /* margin-top: 30px; */
    margin-left: 50px;
    width: 60%;
    font-size: medium;
    display: flex;
    align-self: flex-end;
}

nav ul {
    /* float:right; */
    margin-right: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

nav li {
    display: block;
    width: 100%;
    height: auto;
    list-style-type: none;
    color: black;
    /* text-decoration: none; */
}
/* .headNav {
    position: relative;
    text-decoration: none;
} */

/* .headNav:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
    background: blue;
    transition: all .5s;
    z-index: -1;
}

.headNav:hover:before {
    height: 100%;
} */
.current {
    display: flex;
    position: relative;
    text-decoration: none;
    width: 100%;
    height: 25px;
    justify-content: center;
    align-items: flex-end;
    border-radius: 5px 5px 0px 0px;
    background: #849BDA;
}
.headNav {
    display: flex;
    position: relative;
    text-decoration: none;
    width: 100%;
    height: 25px;
    justify-content: center;
    align-items: flex-end;
    border-radius: 5px 5px 0px 0px;
    background: linear-gradient(to top, #849BDA, 50%, #fff 50%);
    background-size: 100% 200%;
    background-position: top left;
    transition: all .5s ease-out;
}

.headNav:hover {
    background-position: bottom left;
    color: #fff;
}

.line {
    display: block;
    background: blue;
    height: 5px;
    margin: auto;
    width: 85%;
}

#wrapper {
    display:flex;
    flex-wrap: wrap;
    align-content: space-around;
    margin:20px auto;
    max-width:1200px;
}

#hero {
    border-radius: 15px;
    margin-bottom: 10px;
    width: 62%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
}

#profile {
    display: flex;
}

main {
    order: 3;
    padding: 5px;
    margin-bottom:20px;
}

#mamp-screenshot {
    display: block;
    width: 90%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    
}

#error-screenshot {
    display: block;
    width: 90%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
aside {
    text-align: center;
    width:35%;
    padding: 5px;
    background: #849BDA;
    border-radius: 10px;
    height: fit-content;
    margin-top: 75px;
    padding-bottom: 25px;
}

aside h3 {
    margin: 25px 0px 25px 0px;
}

button {
    width: 70%;
    height: 50px;
    background: #FFFFFF;
    border: none;
    border-radius: 8px;
    margin: 10px;
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 15px 0 rgba(0, 0, 0, 0.19);
}

#my-photo {
    width: 300px;
    height: 250px;
    margin: 20px 40px 20px 40px;
    border-radius: 50%;
}
#about-me {
    margin: 20px 20px 40px 0px;
    align-self: flex-end;
}

#about-me h2 {
    margin-bottom: 20px;
    font-size: 35px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.weeklist {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    margin : 15% auto;
    padding: 20px 20px 20px 60px;
    border: 1px solid #888;
    width: 25%;
}

.close {
    display: flex;
    justify-content: flex-end;
    color: #aaa;
    /* float: right; */
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
footer {
    border-top-left-radius:8px;
    border-top-right-radius: 8px;
    border-top:5px solid #849BDA ;
    height:50px;
    clear:both;
    line-height: 50px;
    color: #FC7307;
    margin-top: auto;
}

footer ul {
    float:right;
}

footer li {
    float:left;
    margin-right:30px;
    list-style-type: none;
}

/* gallery */

table {
    border: 1px solid #849BDA;
    border-collapse: collapse;
    font-size: large;
}

td {
    border: 1px solid #849BDA;
    text-align: center;
}

td img {
    width: 300px;
    height: 300px;
}